---
# For the database init, replicaCount must be set to 1
# You can scale once the DB initialized
replicaCount: 1
image:
  repository: passbolt/passbolt
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "3.7.3-1-pro"
passbolt:
  config:
    license:
      enabled: false
    email:
      enabled: true
      from: you@localhost
      host: mailpit
      port: 1025
      tls: false
      timeout: 30
      #username: username
      #password: password
    php:
      session:
        redis:
          enabled: true
          # Redis Cluster
          #service: passbolt-redis-cluster
          # Redis Sentinel
          service: "passbolt-redis-node-0.passbolt-redis-headless"
ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: pb-helm.open-web.fr
      scheme: http
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

mariadb:
  enabled: false
  ## @param architecture MariaDB architecture (`standalone` or `replication`)
  architecture: replication
  auth:
    rootPassword: "passboltmariadbrootpassword"
    database: "passboltmariadb"
    username: "passboltmariadbuser"
    password: "passboltmariadbpassword"

mariadb-galera:
  enabled: true
  rootUser:
    password: "passboltgalerarootpassword"
  galera:  
    mariabackup:
      password: "passboltgaleramariabackuppassword"
  db:
    user: "passboltgalerauser"
    password: "passboltgalerapassword"
    name: "passboltgaleradb"

redis:
  enabled: true
  sentinel:
    enabled: true
    getMasterTimeout: 1
    automateClusterRecovery: true
  auth:
    password: "redispassword"
  global:
    storageClass: ""

redis-cluster:
  enabled: false
  password: "redisclusterpassword"

passbolt-ha-monitor:
  enabled: false
  redisCliAuth: "redispassword"
  # securityContext:
  #   runAsUser: 1000
  #   runAsGroup: 1000
  #   runAsNonRoot: true
